@page
@model IndexModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    @if(Model.Name!="Bootstrap2")
    {
        <h2>Yes  this is Bootstrap</h2>
    }
    else
    {
        <h2>No this is not Bootstrap</h2>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br/>

    <br/>

    <ul>
        @foreach(var name in Model.NamesList)
        {
            <li>@name</li>
        }
    </ul>
</div>
